<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EZBlocker2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <EZBlocker2.Properties.Settings>
      <setting name="MuteAds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlockAds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartOnLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PositionX" serializeAs="String">
        <value />
      </setting>
      <setting name="PositionY" serializeAs="String">
        <value />
      </setting>
      <setting name="BreakAudio" serializeAs="String">
        <value />
      </setting>
      <setting name="AudioInsteadOfMute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoopAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AudioVolume" serializeAs="String">
        <value>1</value>
      </setting>
    </EZBlocker2.Properties.Settings>
  </userSettings>
</configuration>
